/* UNIVERSAL STYLE */

html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

h4 {
    text-align: center;
    font-size: 2.5rem;
    opacity: 0.7;
    margin: 1.5rem 0 2rem 0;
}

img {
    display: block;
}

.mobile {
    display: none;
}

.button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
}

.lightgray {
    color: lightgray;
}


.margin {
    margin-left: 1rem;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 12px;
        overflow-x: hidden;

    }
    
}

/* @media only screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
    
} */

/* NAVBAR SECTION */

nav{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 97%;
    border-bottom: solid 1px lightgray;

}

#logo img {
    height: 3rem;
    flex: 1;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 3.5rem;
    word-spacing: 0.1vw;
}

ul {
    list-style: none;
    display: flex;
    height: 4rem;
    align-items: center;
    padding-left: 0px;
}

.link-style{
    color:black;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 300;
    margin-right: 1rem;
}

a.sign {
    margin-right: 0rem;
}

#logo {
    height: 4rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 570px) {
    .mobile {
        display: block; 
        padding: 0;
        margin: 0;
        width: 100%;
    }  

    .desktop {
        display: none;
    }

    .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .mobile a {
        padding: 0;
        margin: 0;
    }

    .mobile img {
        margin: 0;
        padding: 0;
    }
}

/* HEADER SECTION */

header p {
    font-size: 1.9rem;
    word-spacing: 0.1vw;
}

.starthere-btn {
    background-color: black;
    padding: 1rem 0;
    margin-top: 3rem;
    text-align: center;
    width: 80%;
    height: auto;
}

.starthere-btn  a {
    color: white;
}

h2, p, .starthere-btn {
    opacity: 0.7;
    line-height: 1.2;
    margin-left: 1.5rem;
    font-weight: bold;
}

header {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 4rem;
    width: 100%;
}

header img {
    width: 60%;
    height: auto;
    margin: 2rem 1.5rem;
}

@media only screen and (max-width: 570px) {
    header {
        flex-direction: column;
        top: 3rem;
        justify-content: space-between;
        align-items: center;
    }

    header img {
        width: 100%;
        margin: 0;
    }

    h2, p, .starthere-btn {
        margin-left: 0;
    }

    h2, p {
        margin-top: 2rem;
        word-spacing: 2px;
        margin-bottom: 0;
    }

    .starthere-btn {
        margin-bottom: 2rem;
        margin-right: 0;
        margin-top: 1.5rem;
        background-color: rgb(126, 125, 125);
        opacity: 1;
    }

    .link-style {
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
    }

    .header-content {
        padding-left: 1rem;
    }

    header h2 {
        font-size: 3rem;
    }

    header p {
        font-size: 1.6rem;
    }
}

/* MAIN AND FOOTER BANNER SECTION */

.banner {
    margin: 2rem 0 2rem 1.5rem;
    display: flex;
} 

.relative {
    position: relative;
    top: 4rem;
}

.wrapper1 {
    width: 60%;
}

.banner p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    opacity: 1;
    margin-left: 0;
}

.wrapper1 > h2 {
    font-size: 3rem;
    word-spacing: 0.1vw;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 0;
}

.wrapper1 img {
    width: 100%;
    height: auto;
}

.wrapper1 video {
    width: 100%;
    height: auto;
}

.wrapper2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px lightgray;
    border-left: solid 1px lightgray;
    align-items: center;
}

.box {
    display: flex;
    margin-bottom: 1.5rem;
    border: solid 1px lightgray;
}

.box-img {
    width: 35%;
}

.box-img img {
    width: 100%;
    height: auto;
}

.box-content {
    width: 65%;
    margin-left: 2rem;
}

h3 {
    font-size: 2rem;
    opacity: 0.7;
    margin-bottom: 0.5rem;
}

.box-content a {
    text-decoration: none;
    color:rgb(97, 192, 252);
}

.back-lightgray {
    background-color: lightgray;
}

footer {
    position: relative;
    top: 4rem;
}

@media only screen and (max-width: 570px) {

    main .wrapper2 {
        width: 100%;
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .box {
        border: none;
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

    .box-img {
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: auto;
        display: block;
    }

    .box-content {
        width: 100%;
        padding-top: 1rem;
        padding-right: 1rem;
    }
    
    .banner {
        margin: 0;
    }

    main .wrapper2 .box {
        background-color: white;
    }

    .banner p {
        font-size: 1.25rem;
        margin: 1rem 0;
    }    

    .box-content a {
        font-size: 1.25rem;
        padding-top: 1rem;
    }

    .box-content h3 {
        margin-top: 1rem;
    }

    footer .wrapper2 {
        display: none;
    }

    footer .wrapper1 {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
    }

}

/* CONTAINER SECTION */

.container {
    background-color: lightgray;
    width: 100%;
    position: relative;
    top: 4rem;
}

.course {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.coursebox {
    margin: 1rem 1rem 2rem 1rem;
    width: 25%;
}

.coursebox img{
    height: auto;
    width: 100%;
}

.course-info {
    background-color: white;
    padding: 1rem 0 1.5rem 0;
    width: 100%;
}

.course-info h3 {
    margin: 1rem 0 1rem 1rem;
    font-size: 2rem;
}

.course-info p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0 1rem 1rem;
}

@media only screen and (max-width: 570px) {

    .container {
        background-color: white;
    }

    .course {
        flex-direction: column;
        align-items: center;
    }
    
    .coursebox {
        width: 90%;
        margin: 0;
        margin-bottom: .5rem;
    }

    .coursebox img {
        display: none;
    }

    .coursebox .course-info p {
        display: none;
    }
    
    .course-info {
        background-color: lightgray;
        padding: 1rem 0 1.5rem 0;
    }

    .course-info h3 {
        margin: 0;
        margin-left: 1rem;
        display: block;
    }

    .container h4 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 3rem;
    }

}

/* COPYRIGHT FOOTER */

.copyright {
    margin-top: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.copyright span {
    margin-left: 1.5rem;
}

.copyright a {
    color:black;
    text-decoration: none;
    margin-top: 0;
    margin-right: 1rem;
}

.right {
    float: right;
}